# This file is part of the Php DDD Standard project.
#
# Copyright (c) 2017 LIN3S <info@lin3s.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @author Beñat Espiña <benatespina@gmail.com>

parameters:
    enabled:
        - phpmd
        - twigcs
        - phpcsfixer
        - stylelint
        - eslint

    name: Php DDD Standard
    type: project
    year: 2017
    author: LIN3S
    email: info@lin3s.com
    version: 0.1

    phpmd_path: src
    phpmd_rules:
        - controversial
        - unusedcode
        - codesize
        - naming

    twigcs_path: src

    phpcsfixer_path: src
    phpcsfixer_test_path: tests
    phpcsfixer_file_location: vendor/lin3s/cs/src/LIN3S/CS/

    stylelint_path: app/Resources/assets/scss
    stylelint_file_location: vendor/lin3s/cs/src/LIN3S/CS/
    stylelint_exclude: []
    stylelint_rules: []         # https://stylelint.io/user-guide/rules/

    eslint_path: app/Resources/assets/js
    eslint_file_location: vendor/lin3s/cs/src/LIN3S/CS/
    eslint_exclude: []
    eslint_rules:               # available rules can view in http://eslint.org/docs/rules/
        globals:
            "Modernizr": true
            "svg4everybody": true
